@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    font-family: 'Playfair Display', serif;
    text-align: justify;
    font-size: 18px;
}

h1 {
    text-align: center;
}

img {
    width: 60px;
    height: 60px;
    margin:5px;
}



li {
    margin:5px;
}