.App {
  text-align: center;
  width: 100%;
}

.container {
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}

@media only screen and (min-width: 768px){
  .container {
    display: flex;
  }

  }



